:root{
    --primaryColor: rgb(64, 0, 128);
    --primaryOffsetColor: rgb(117, 73, 162);

    --buttonBgColor: var(--primaryColor);
    --buttonHighlightColor: var(--primaryOffsetColor);
    --buttonTextColor: white;
}

a {
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#highScores{
    font-size: 40px;
}

#timer {
    font-size: 30px;
}

#cardDisplay{
    width: 500px;
    height: 300px;
    margin-top: 25px;
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.card h1{
    font-size:24px;
}

.questionCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#answersSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.button {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px 0px;
    padding: 10px;
    transition: 0.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: var(--buttonTextColor);
    background-color: var(--buttonBgColor);
}

.button:hover{
    background-color: var(--buttonHighlightColor);
}

#initials{
    padding: 10px;
    border: 2px dashed black;
    border-radius: 10px;
    text-align: center;
}
#initials:focus{
    outline: none;
}